
h1{
padding-left: 10%;


}

div{

padding-left: 10%



}
header{

background-color: grey;
height: 100%;

font-size: 40px;
text-indent: 10%;

}

.division1{

font-size: 30px;
padding-top: 1%;
padding-bottom: 1%;
}

body{

background-color: khaki;

}

.division2{
padding-top: 1%;


}
